.btn {
  padding: 0.9rem 1.8rem;
  font-size: 16px;
  font-weight: 600;
  color: var(--btn-text-color);
  border: 3.45px solid var(--btn-bg-color);
  cursor: pointer;
  position: relative;
  text-decoration: none;
  overflow: hidden;
  z-index: 1;
  background-color: var(--btn-bg-color);
  transition: all 0.3s;
  border-radius: 5px;

  & > svg {
    fill: var(--btn-text-color);
  }


  &:hover {
    background-color: var(--btn-active-bg-color);
    border-color: var(--btn-active-bg-color);
    color: var(--btn-active-text-color);

    & > svg {
      fill: var(--btn-active-text-color);
    }

  }

  &.fullfill {
    background-color: transparent;
    color: var(--btn-bg-color);

    & > svg {
      fill: var(--btn-bg-color);
    }

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: var(--btn-active-bg-color);
      transform: translateX(-100%);
      transition: all 0.3s;
      z-index: -1;
    }

    &:hover {
      border-color: var(--btn-active-bg-color);
      color: var(--btn-active-text-color);

      & > svg {
        fill: var(--btn-active-text-color);
      }
      &::before {
        transform: translateX(0);

      }
    }
  }

  &.outline {
    background-color: transparent;
    border-color: rgba(var(--solid-constrast-color-by-theme),.6);
    color: rgba(var(--solid-constrast-color-by-theme),.6);

    & > svg {
      fill: rgba(var(--solid-constrast-color-by-theme),.6);
    }

    &:hover {
      color: rgba(var(--solid-constrast-color-by-theme),1);
      border-color: rgba(var(--solid-constrast-color-by-theme),1);

      & > svg {
        fill: rgba(var(--solid-constrast-color-by-theme),1);
      }
    }
  }

}
