.dropdown {
  position: relative;
  border-radius: 0.5em;

  .display {
    cursor: pointer;
    border-radius: 0.2em;
    padding: 0.5em;
    font-weight: 550;
    background-color: rgba(131, 131, 131, 0.125);
    color: var(--input-text-color);
    display: flex;
    align-items: center;
    justify-content: space-between;

    svg {
      transform: rotate(-90deg);
      transition: transform 0.25s ease-in-out;
      polygon {
        fill: var(--input-text-color);
      }
    }
  }

  .dropdownWrapper {
    position: absolute;
    width: 100%;
    overflow: hidden;
    border-radius: 0.2em;
    margin-top: 5px;

    .dropdownItem {
      padding: 0.5em;
      transform: translateY(-300px);
      cursor: pointer;
      font-weight: 550;
      color: var(--input-text-color);
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: rgba(131, 131, 131, 0.125);
    }

    .dropdownItem[data-selected="true"] {
      color: white;
      background-color: rgb(var(--primary-color));
    }
  }

  &[data-open="true"] {
    .display {
      svg {
        transform: rotate(0deg);
      }
    }
    .dropdownWrapper {
      -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.25);
      -moz-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.25);
      box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.25);
      .dropdownItem {
        transform: translateY(0);
      }
    }
  }
}
