.footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    height: var(--footer-height);
    padding: var(--footer-padding) 0;
    background-color: rgb(var(--primary-color-700));
}

:global(html.dark) {
    .footer {
        background-color: rgba(var(--slate-color-950), .9);
    }
}