$input-text-color: var(--input-text-color);
$input-placeholder-color: var(--input-placeholder-color);

$input-background-color: rgba(255, 255, 255, 0.363);

textarea.input {
  resize: none;
  height: 200px;
}

.input {
  font-size: 0.9rem;
  width: 100%;
  box-sizing: border-box;
  padding-inline: 0.5em;
  padding-block: 0.7em;
  border: none;
  border-bottom: 4px solid rgb(var(--primary-color-lighter), 0.3);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: $input-text-color;
  background-color: $input-background-color;
  border-radius: 5px;

  &:focus {
    outline: none;
    border-color: transparent;
  }

  &:focus + .inputBorder {
    transform: scaleX(100%);
  }
}

textarea.input,
input.input {
  &::placeholder {
    color: $input-placeholder-color;
  }
}

.inputBorder {
  position: absolute;
  background: rgb(var(--primary-color-darker));
  height: 2px;
  width: 100%;
  bottom: 0px;
  left: 0;
  transform: scaleX(0%);
  transition: transform 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

textarea + .inputBorder {
  bottom: 2px;
}

.formControl {
  position: relative;
  --width-of-input: 300px;
}

.inputAlt {
  font-size: 1.2rem;
  padding-inline: 1em;
  padding-block: 0.8em;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  &:focus + .inputBorderAlt {
    transform: scaleX(100%);
  }
}

.inputBorderAlt {
  height: 3px;
  background: linear-gradient(
    90deg,
    rgba(var(--primary-color), 0.7) 0%,
    rgba(var(--primary-color-lighter), 0.55) 50%,
    rgba(var(--primary-color), 0.7) 100%
  );
  // background: red;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  transition: transform 0.4s cubic-bezier(0.42, 0, 0.58, 1);
}

:global(html.dark) {
  $input-background-color: rgba(14, 14, 14, 0.178);

  .input {
    background-color: $input-background-color;
  }
}
