.aboutContainer {
    display: grid;
    row-gap: 5vh;
    grid-template: auto auto auto / 1fr;
    grid-template-areas:
        'header'
        'picture'
        'txt';

    .header {
        grid-area: header;
    }

    .picture {
        grid-area: picture;
    }

    .txt {
        grid-area: txt;
    }
}

@media (min-width: 1024px) {
    .aboutContainer {
        grid-template: auto auto / 1.15fr .85fr;
        row-gap: 0vh;
        column-gap: 4vw;
        grid-template-areas:
            'header picture'
            'txt picture';
    }

}

@media (min-width: 1536px) {
    .aboutContainer {
        grid-template: auto auto / 1.1fr .6fr;
        grid-template-areas:
            'header picture'
            'txt picture';
    }
}