@import "mixins";

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Inter Tight";
  src: url("../font/InterTight-VariableFont_wght.ttf");
}

:root {
  --foreground-rgb: 0, 0, 0;
  --var-test: #b248f0;

  // COLORS PALLETE
  --primary-color-100: 207, 235, 255;
  --primary-color-200: 159, 215, 255;
  --primary-color-300: 112, 194, 255;
  --primary-color-400: 64, 174, 255;
  --primary-color-500: 16, 154, 255;
  --primary-color-700: 10, 92, 153;
  --primary-color-800: 6, 62, 102;
  --primary-color-900: 3, 31, 51;

  --primary-color-lighter: 144, 34, 212;
  --primary-color: 92, 20, 136;
  --primary-color-darker: 64, 15, 95;

  --slate-color-50: 248, 250, 252;
  --slate-color-100: 241, 245, 249;
  --slate-color-200: 226, 232, 240;
  --slate-color-300: 203, 213, 225;
  --slate-color-400: 148, 163, 184;
  --slate-color-500: 100, 116, 139;
  --slate-color-600: 71, 85, 105;
  --slate-color-700: 51, 65, 85;
  --slate-color-800: 30, 41, 59;
  --slate-color-900: 15, 23, 42;
  --slate-color-950: 2, 6, 23;

  --bg-color: 251, 251, 251;

  //Fonts colors
  --paragraph-dark-color: 184, 185, 209;
  --title-dark-color: 227, 236, 255;
  --subtitle-dark-color: 209, 215, 235;

  --paragraph-light-color: 95, 95, 102;
  --title-light-color: 39, 39, 42;
  --subtitle-light-color: 75, 75, 82;

  --subtitle-color: 75, 75, 82;
  --title-color: 39, 39, 42;

  // MY VARIABLES
  --text-color-3: #5f5f66;
  --text-color-2: #4b4b52;
  --text-color-1: #27272a;

  --input-bg-color: #f1f5f9;
  --input-text-color: #2c2c2c;
  --input-placeholder-color: #5f5f66;

  --dropdown-color: #272727;
  --dropdown-selected-color: #1e293b;

  --solid-color-by-theme: 255, 255, 255;
  --solid-constrast-color-by-theme: 27, 27, 27;

  --btn-bg-color: rgb(34, 34, 34);
  --btn-text-color: rgb(199, 199, 199);
  --btn-active-bg-color: rgb(17, 17, 17);
  --btn-active-text-color: rgb(245, 245, 245);

  --navbar-color: rgb(var(--bg-color));
  --footer-color: rgb(var(--primary-color));

  --header-icon-wrapper-height: 4.5em;
  --footer-padding: 1.5em;
  --footer-height: 10em;
  --footer-size: calc((var(--footer-padding) * 2) + var(--footer-height));
}

@include fonts-definition("light");

body {
  font-family: "Inter Tight", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  color: rgb(var(--foreground-rgb));
}

.text-primary-gradient {
  background: -webkit-linear-gradient(
    rgb(var(--primary-color-darker)),
    rgba(var(--primary-color-lighter), 0.7)
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

html.dark {
  --text-color-3: #b8b9d1;
  --text-color-2: #e3ecff;
  --text-color-1: #d1d7eb;

  --input-bg-color: #1e293b;
  --input-text-color: #f1f5f9;
  --input-placeholder-color: #b8b9d1;

  --dropdown-color: #272727;
  --dropdown-selected-color: #1e293b;

  --subtitle-color: 209, 215, 235;
  --title-color: 227, 236, 255;

  --bg-color: 30, 30, 30;

  --solid-color-by-theme: 27, 27, 27;
  --solid-constrast-color-by-theme: 255, 255, 255;



  :root {
    --foreground-rgb: 255, 255, 255;
  }

  @include fonts-definition("dark");

  .text-primary-gradient {
    background: -webkit-linear-gradient(
      rgb(var(--primary-color-lighter)) 45%,
      rgba(var(--primary-color), 0.7)
    );
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
