.introGradient {
    background-image: linear-gradient(to bottom, rgba(236, 119, 172, 0.411) 0%,
            rgba(34, 71, 192, 0.678) 80%);
}

.learnMoreHoverEffect {
    opacity: 1;
    transition: opacity 1s;
}

.learnMoreHoverEffect:hover {
    opacity: 0;
}

.learnMoreHoverEffect+div {
    opacity: 0;
    transition: opacity 1s;
}

.learnMoreHoverEffect:hover+div {
    opacity: 1;
}

.learnMoreHoverEffect,
.learnMoreHoverEffect+div {
    cursor: pointer;
}