@mixin section-box-shadow($color: rgba(0, 0, 0, .35), $blur: 8px, $spread: 2px, $opacity: 0.35) {
  $rgbaColor: if(type-of($color) == color, $color, rgba($color, 1)); // Check if $color is a color, otherwise convert to rgba
  
  -webkit-box-shadow: inset 0px 0px $blur $spread $rgbaColor;
  -moz-box-shadow: inset 0px 0px $blur $spread $rgbaColor;
  box-shadow: inset 0px 0px $blur $spread $rgbaColor;
}
