@mixin section-box-shadow(
  $color: rgba(0, 0, 0, 0.35),
  $blur: 8px,
  $spread: 2px,
  $opacity: 0.35
) {
  $rgbaColor: if(
    type-of($color) == color,
    $color,
    rgba($color, 1)
  );

  -webkit-box-shadow: inset 0px 0px $blur $spread $rgbaColor;
  -moz-box-shadow: inset 0px 0px $blur $spread $rgbaColor;
  box-shadow: inset 0px 0px $blur $spread $rgbaColor;
}

@mixin fonts-definition($theme) {
  h1 {
    @apply text-4xl font-bold;
  }
  h2 {
    @apply text-2xl;
  }
  h3 {
    @apply text-xl;
  }
  p {
    @apply text-base;
  }
  h2,h3,h4,h5,h6 {
    @apply font-semibold;
  }
  @if $theme == "light" {
    
    h1 {
      @apply text-title-light;
    }

    h2,h3,h4,h5,h6 {
      @apply text-subtitle-light;
    }
    p {
      @apply text-paragraph-light;
    }

  } @else if $theme == "dark" {
    h1 {
      @apply text-title-dark;
    }

    h2,h3,h4,h5,h6 {
      @apply text-subtitle-dark;
    }

    p {
      @apply text-paragraph-dark;
    }
  }
}
