.menuButtonContainer {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  border-radius: 5px;
  width: fit-content;

  &.active {
    .bar {
      &:first-child {
        transform: translate(0, 10px) rotate(45deg);
      }

      &:last-child {
        width: 40px;
        transform: translate(0, -6px) rotate(-45deg);
      }
    }
  }

  .bar {
    transition: all 0.2s ease;
    display: block;
    width: 40px;
    height: 4px;
    margin: 6px 0;
    border-radius: 5px;

    &:last-child {
      width: 20px;
    }
  }
}
