@import "../variables";

$links-color: $subtitle-dark-color;
$hovered-links-color: $title-dark-color;

.navbar {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  display: grid;
  grid-template-areas:
    "header"
    "body"
    "footer";
  grid-template-rows: auto 1fr auto;
  overflow: scroll;

  ul li {
    color: $links-color;
    transition: color 0.2s ease;

    &:hover {
      color: $hovered-links-color;
    }
  }

  .header {
    grid-area: header;
    padding: 1em 2em;
    z-index: 99;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    * {
      margin: 1em 0;
    }
  }

  .content {
    grid-area: body;
    padding: 1em;
    width: 100%;
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3em;
    padding: 4em 1em;

    .navigation,
    .getInTouch {
      width: 100%;

      ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        li {
          text-transform: capitalize;
          margin: 0.75em 0;
          font-size: 1.2em;
        }
      }
    }

    .getInTouch {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      h2 {
        color: white;
      }
    }

    .accessibility {
      width: 100%;

      ul {
        li {
          margin: 0.75em 0;
        }
      }
    }
  }

  .socials {
    grid-area: footer;
    display: flex;
    justify-content: center;
    padding: 0 2em 4vh;

    ul {
      display: flex;
      gap: 2em;

      li {
        font-size: 1.4em;
      }
    }
  }

  .accessibility {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

    h2 {
      color: white;
    }
  }

  &.active {
    z-index: 99;
    position: fixed;
    background-color: var(--navbar-bg-color);
    .content {
      opacity: 1;
    }
  }
}

html.dark {
  .navbar {
    .content {
      background-color: red;
    }
  }
}