@import "./mixins.scss";

.aboutContainer {
  @include section-box-shadow(rgba(0, 0, 0, 0.35), 8px, 0.3px, 0.35);
  background-color: var(--bg-primary-color);
  display: grid;
  row-gap: 5vh;
  grid-template: auto auto auto / 1fr;
  grid-template-areas:
    "header"
    "picture"
    "txt";

  .header {
    grid-area: header;
  }

  .picture {
    grid-area: picture;
  }

  .txt {
    grid-area: txt;
  }
}

.wave {
  display: inline-block;
  animation: wave 2s infinite;
  transform-origin: 70% 70%;
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@media (min-width: 1024px) {
  .aboutContainer {
    grid-template: auto auto / 1.15fr 0.85fr;
    row-gap: 0vh;
    column-gap: 4vw;
    grid-template-areas:
      "header picture"
      "txt picture";
  }
}

@media (min-width: 1536px) {
  .aboutContainer {
    grid-template: auto auto / 1.1fr 0.6fr;
    grid-template-areas:
      "header picture"
      "txt picture";
  }
}

:global(html.dark) {
  .aboutContainer {
    @include section-box-shadow;
  }
}
